.dsc-contact {

  & > :not(:last-child) {
    margin-bottom: 40px;
  }

  .title {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .details {
    text-align: center;

    h4 {
      margin-bottom: 11px;
      font-size: 19px;
    }

    span {
      opacity: .8;
    }
  }

  .social-media {
    display: flex;
    justify-content: center;

    & > :not(:last-child) {
      margin-right: 20px;
    }

    a {
      display: block;
      width: 42px;
    }
  }

  .map {
    width: 100%;
    padding: 0 20px;
    
    iframe {
      height: 300px;
      width: 100%;
    }
  }
}

@media (min-width: 769px) {
  .dsc-contact {
    .title {
      display: none;
    }

    .details {
      h4 {
        font-size: 25px;
      }
    }

    .map iframe {
      height: 450px;
    }
  }
}