.dsc-header {
  align-items: center;
  background: white;
  display: flex;
  justify-content: space-between;
  left: 0;
  min-height: 70px;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .logo {
    max-width: 250px;
  }

  .menu {
    &-icon {
      cursor: pointer;
    }
  }
}

@media (min-width: 769px) {
  .dsc-header {
    .logo {
      max-width: 300px;
    }

    .menu-icon {
      display: none;
    }

    .list-menu {
      & > :not(:last-child) {
        margin-right: 40px;
      }

      
      a {
        color: rgba($color: #000000, $alpha: 0.55);
        text-decoration: none;
        font-size: 18px;

        &:hover {
          color: rgba($color: #000000, $alpha: 1);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .dsc-header {
    padding: 10px 10px;
    min-height: 50px;

    .list-menu {
      display: none;
    }

    .menu {
      margin-top: -3px;
      margin-right: 3px;

      &-icon {
        width: 28px;
      }
    }
  }
}
